<ng-container *ngIf="todos; else loading">
  <h2>Tâches à réaliser</h2>

  <table>
    <!-- <thead>
      <tr>
        <th>Nom</th>
        <th>Fini ?</th>
        <th></th>
      </tr>
    </thead> -->

    <tbody>
      <tr *ngFor="let e of todos" (click)="onClick(e)" [ngClass]="{finished: e.finished}">
        <td><input type="checkbox" [checked]="e.finished"></td>
        <td>{{ e.name }}</td>
        <!-- <td>{{ e.finished ? 'Fini' : 'Pas fini' }}</td>
        <td></td> -->
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #loading>
  <p class="text text-warning">
    Chargement en cours...
  </p>
</ng-template>
