<app-game-list-filter (filter)="onGameFilter($event)"></app-game-list-filter>

<div class="actions">
  <button (click)="onDownSize()">-</button>
  <button (click)="onUpSize()">+</button>
  <button (click)="onResetSize()">=</button>
</div>

<ng-template #loading><p>Chargement...</p></ng-template>

<section class="cards" *ngIf="filteredGames; else loading">
  <article class="card" *ngFor="let game of filteredGames" [ngStyle]="cardStyle">
    <header>
      <div>
        <h1>{{ game.title }}</h1>
        <p>
          {{ drawGenres(game) }}
        </p>
      </div>
      <!-- <div class="spacer"></div> -->
      <p *ngIf="game.note">
        {{ game.note }}/10
      </p>
    </header>

    <main>
      <img
        [src]="game.coverImage"
        [alt]="'Cover image of' + game.title">
      <p [innerHTML]="description(game)">
      </p>
    </main>

    <footer>
      <app-game-list-actions
        (actionClick)="onActionClick($event, game)"
      ></app-game-list-actions>
    </footer>
  </article>

</section>
