<app-game-list-filter></app-game-list-filter>

<div class="actions">
  <button (click)="onDownSize()">-</button>
  <button (click)="onUpSize()">+</button>
</div>

<section class="cards">
  <article class="card" *ngFor="let game of games" [ngStyle]="cardStyle">
    <header>
      <div>
        <h1>{{ game.title }}</h1>
        <p>
          {{ game.genre.name }}
        </p>
      </div>
      <!-- <div class="spacer"></div> -->
      <p>
        {{ game.note }}/10
      </p>
    </header>

    <main>
      <img
        [src]="game.coverImage"
        [alt]="'Cover image of' + game.title">
      <p>
        {{ description(game) }}
      </p>
    </main>

    <footer>
      <app-game-list-actions
        (actionClick)="onActionClick($event, game)"
      ></app-game-list-actions>
    </footer>
  </article>

</section>
