<app-game-list-filter></app-game-list-filter>

<section class="cards">
  <article class="card" *ngFor="let game of games">
    <header>
      <div>
        <h1>{{ game.title }}</h1>
        <p>
          {{ game.genre }}
        </p>
      </div>
      <!-- <div class="spacer"></div> -->
      <p>
        {{ game.note }}/10
      </p>
    </header>

    <main>
      <img
        [src]="game.coverImage"
        [alt]="'Cover image of' + game.title">
      <p>
        {{ description(game) }}
      </p>
    </main>

    <footer>
      <button>follow</button>
      <button>share</button>
      <button>buy</button>
    </footer>
  </article>

</section>
